.rcu-icon .ij-icon.ij-icon-2x, .rcu-info-icon .ij-icon.ij-icon-2x {
    width: 24px;
    height: 24px;
    padding-top: 4px;
    padding-left: 2px;
}

.rcu-info-icon .ij-icon.ij-icon-2x {
    padding-top: 0px;
}

.rcu-icon .ij-icon.ij-icon-2x embed, .rcu-icon .ij-icon.ij-icon-2x svg, .rcu-info-icon .ij-icon.ij-icon-2x svg {
    transform: scale(calc(24 / 24));
}

.rcu-icon.disabled .ij-icon.ij-icon-2x embed, .rcu-icon.disabled .ij-icon.ij-icon-2x svg {
    fill: #e1e6eb !important;
    cursor: default;
}

.rcu-icon.disabled .ij-icon.ij-icon-2x embed:hover, .rcu-icon.disabled .ij-icon.ij-icon-2x svg:hover {
    fill: #e1e6eb !important;
    cursor: default;
}

.rcu-icon .ij-icon.ij-icon-2x embed:hover, .rcu-icon .ij-icon.ij-icon-2x svg:hover {
    fill: rgb(240, 85, 58) !important;
    cursor: pointer;
}

.rcu-icon.rcu-icon-disabled .ij-icon.ij-icon-2x embed, .rcu-icon.rcu-icon-disabled .ij-icon.ij-icon-2x svg {
    fill: #e1e6eb !important;
    cursor: not-allowed;
}

.rcu-icon.rcu-icon-disabled .ij-icon.ij-icon-2x embed:hover, .rcu-icon.rcu-icon-disabled .ij-icon.ij-icon-2x svg:hover {
    fill: #e1e6eb !important;
    cursor: not-allowed;
}

.rcu-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.rcu-user-row {
    cursor: pointer;
}

.user-icon-member {
    color: rgb(105, 117, 130);
}

.user-icon-member svg {
    fill: rgb(105, 117, 130);
}

.user-icon-admin {
    color: rgb(214, 54, 37);
}

.user-icon-admin svg {
    fill: rgb(214, 54, 37);
}

.rcu-checkbox-list {
    margin-bottom: 20px;
}

.rcu-checkbox-row {
    border: 1px solid #e1e6eb;
    border-bottom: 0px;
    padding: 20px;
}

.rcu-checkbox-list > .rcu-checkbox-row:last-child {
    border-bottom: 1px solid #e1e6eb;
}

.rcu-checkbox-list .rcu-radio {
    border: 1px solid #e1e6eb;
    border-bottom: 0px;
    padding: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.rcu-radio {
    margin-right: 0px !important;
}

.rcu-radio h5 {
    display:  inline;
}

.rcu-checkbox-row .checkbox {
    display: inline;
}

.rcu-checkbox-row:hover {
    background-color: #edf3f9;
    cursor: pointer;
}

.rcu-header {
    margin-bottom: 5px;
}

.rcu-component {
}