.fa-action-button {
    background-color: white;
    color: gray;
    padding-left: 5px;
}

.fa-action-button:hover {
    color: #800;
    cursor: pointer;
}

.badge-danger .fa-action-button {
    background: none;
    color: white;
}

.badge-danger .fa-action-button:hover {
    color: #fee;
}

.rcu-icon .ij-icon.ij-icon-2x {
    width: 24px;
    height: 24px;
    padding-top: 4px;
    padding-left: 2px;
}

.rcu-icon .ij-icon.ij-icon-2x embed, .rcu-icon .ij-icon.ij-icon-2x svg {
    transform: scale(calc(24 / 24));
}

.rcu-icon.disabled .ij-icon.ij-icon-2x embed, .rcu-icon.disabled .ij-icon.ij-icon-2x svg {
    fill: #e1e6eb !important;
    cursor: default;
}

.rcu-icon .ij-icon.ij-icon-2x embed:hover, .rcu-icon .ij-icon.ij-icon-2x svg:hover {
    fill: rgb(240, 85, 58) !important;
    cursor: pointer;
}

.rcu-user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.rcu-user-row {
    cursor: pointer;
}
